# Environment
.env
.venv
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor
.vscode/

# OS files
Thumbs.db
.DS_Store

# Migrations cache (optional)
alembic/__pycache__/

# Other files
work_track.txt
